<% include partials/header %>

<div class="landingPageContainer text-center p-5">

  <h1 class="display-4 font-weight-bold my-3 pb-3 text-primary"><a href="/films">Welcome to FilmCritic!</a></h1>
  <p>A community where you can post, review, and comment on films. Join us today!</p>
  <a class="btn btn-primary" href="/films/">View All Films</a>

</div>

<% include partials/footer %>