<% include ./partials/header %>

<div class="anyPageContainer container my-3">
  <h4>Login</h1>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>
    <button class="btn btn-primary">Login!</button>
  </form>

</div>

<% include ./partials/footer %>